* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #78AEFF;
  font-family: 'Roboto', sans-serif;
}

.mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

}

/* Left Container Start Here */
h1 {
  width: 277px;
  height: 71px;
  font-weight: 900;
  font-size: 35px;
  line-height: 99.19%;
  letter-spacing: 0.025em;
  color: #FFFFFF;
}

.para {
  width: 315px;
  height: 9px;
  font-weight: 500;
  font-size: 11px;
  line-height: 99.19%;
  letter-spacing: 0.018em;
  color: #FFFFFF;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* RIght Container Start Here */

.formBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.block {
  width: 336px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F00000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
  border-radius: 5px;
  font-weight: 800;
  font-size: 10px;
  line-height: 99.19%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.formContainer {
  width: 338px;
  height: 314px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.inputBox {
  /* margin-top: 14px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skill,
.inputBox input {
  width: 266px;
  height: 33px;
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 2px;
  margin-top: 15px;
  font-weight: 500;
  font-size: 9px;
  line-height: 99.19%;
  letter-spacing: 0.01em;
  color: #777777;
  padding-left: 20px;
}

#skill {
  margin-top: 10px;
  width: 286px;
  height: 33px;
  padding-left: 18px;
}

.courseTag {
  width: 286px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 25px;
  gap: 4px;
}

.courseTag p {
  width: 54px;
  height: 15px;
  background: #DCDCDC;
  border-radius: 8px;
  font-weight: 500;
  font-size: 9px;
  line-height: 99.19%;
  letter-spacing: 0.01em;
  color: #777777;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin-left: 25px;
  width: 286px;
  height: 33px;
  border: none;
  background: #B5B5B5;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.46);
  border-radius: 2px;
  font-weight: 700;
  font-size: 10px;
  line-height: 99.19%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.tac {
  margin-left: 25px;
  font-weight: 500;
  font-size: 7px;
  line-height: 99.19%;
  letter-spacing: 0.053em;
  color: #C2C2C2;
}